@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-fundo: #00030C;
    --cor-textoComum: #FFFFFF;
    --cor-textoCinza: #C0C0C0;
    --cor-azulDestaque: #167BF7;
    --fonte-Principal: 'inter';
}

body {
    background: var(--cor-fundo);
    color: var(--cor-textoComum);
    font-family: var(--fonte-Principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(fotos/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.containerCaixa {
    margin: 0 6em;
    text-align: center;
}

.containerTitulo {
    font-size: 28px;
    font-weight: 700;
}

.containerImagem {
    margin: 1em 0 2em;
}

.containerBotao {
    background-color: var(--cor-azulDestaque);
    padding: 1em;
    display: block;
    color: var(--cor-textoComum);
    text-decoration: none;
    border-radius: 8px;
    margin: 1em;
}

.botaoSecundario {
    background: transparent;
    border: 2px solid #fff;
}

.containerAviso {
    font-size: 12px;
    color: var(--cor-textoCinza);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario img,
.terceiro img,
.quarto img {
    width: 80%;
}

.secundario h2,
.quarto h2 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0.1em;
    text-transform: uppercase;
}

.secundario p,
.quarto p {
    color: var(--cor-textoCinza)
}


.terceiro {
    align-items: center;
    margin: 0 10em;
}

.terceiro div {
    padding: 5em;
}

.terceiro a {
    display: inline-block;
    margin: 0;
    margin-top: 1em;
    /* padding:0; */
}

.quarto {
    align-items: center;
    margin: 0 10em;
}

.dispositivos {
    text-align: center;
    /* margin-bottom:5em; */
}

.dispositivos h2 {
    font-size: 48px;

}

.dispositivos ul {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: var(--cor-textoComum);
    margin: 3em 0 5em;
}

footer {
    text-align: center;
    padding: 0 3em;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0 3em;
}

footer li a {
    color: var(--cor-textoComum);
    text-decoration: none;

}

footer p {
    margin: 2em;
    color: var(--cor-textoCinza)
}